<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosareva Nikoleta.{% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {%if request.cookies.get('color')%}
        <style>
            body{
                color:{{request.cookies.get('color')}};
                background-color:{{request.cookies.get('background-color')}};
                font-size:{{request.cookies.get('font-size')}};
            }
        </style>
    {%endif%}
    {%block script%}{%endblock%}
</head>
<body>
    <header>
        WEB-programming, part 2. {{ self.lab() }} <a href="/menu">menu</a>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>
    
    <footer>
        &copy; Kosareva Nikoleta, FBI-12, 3 course, 2023
    </footer>
</body>
</html>