{% extends "base.html" %}

{% block lab %}Laboratory work 3{% endblock %}

{% block main %}

    {%if user%}

    <h1>Hi, {{user}}</h1>
    <h2>We are happy to see you here</h2>
    <div>Your age: {{age}}</div>
    <div>Your sex: {{sex}}</div>
    <div>
        <a href="/lab3/forms">Again</a>
    </div>

    {%else%}

    <h1>User</h1>

    <form>

        <label>Your name:</label>
        <div>
            <input type="text" placeholder="what is your name?" name="user">
        </div>

        <label>Your age</label>
        <div>
            <input type="number" name="age">
        </div>

        <label>Your sex</label>
        <div>
            <select name="sex">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>

        <div>
            <button type="submit">Send</button>
        </div>
    </form>
    {%endif%}
{% endblock%}